edge-tts
moviepy
Pillow
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
requests
scipy
flask
gunicorn
psutil
pyttsx3
python-dotenv
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
numpy
opencv-python-headless
resampy
yacs
face-alignment
tqdm
gdown
dlib
imageio
imageio-ffmpeg
librosa
numba
scikit-image
